/*----Navbar-------*/
.navbar
{
    background-image: linear-gradient(to right, hsla(0, 93%, 22%, 0.993),#eb3535);
    padding: 0 !important;
}

/*----Image settings-----*/

.weights 
{
    max-height: 300px;
    max-width: 300px;
    border-radius: 25px;
    background: #ffdfdf;
    padding: 5px;
}

img:hover 
{
    opacity:80%;
}

.section 
{
    height: 100vh;
}
/*-------footer------*/

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}